@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right,  #359cf0, #aef1ee);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #18293c;
    overflow-x: hidden;
    -webkit-top-highlight-color: transparent;
    padding: 35px 15px;

}
body::before {
     content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}

/* -------- Background-circles -------*/
.bg-circles {
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}
.bg-circles div {
    position: absolute;
    border-radius: 50%;
}
.bg-circles .circle-1 {
    height: 60px;
    width: 60px;
    background-color: #f0157b;
    left: 5%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
}
.bg-circles .circle-2 {
    height: 80px;
    width: 80px;
    background-color: #1c11c0;
    left: 30%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
}
.bg-circles .circle-3 {
    height: 120px;
    width: 120px;
    background-color: #ffff;
    top: 70%;
    right: -60px;
    opacity: 0.6;
    animation: bounceTop2 6s ease-in-out infinite;
}
.bg-circles .circle-4 {
    height: 50px;
    width: 50px;
    background-color: #f15959;
    left: -30px;
    top: 80%;
    opacity: 0.6;
    animation: zoomInOut 4s linear infinite;
}
.bg-circles .circle-5 {
    height: 70px;
    width: 70px;
    background-color: #088f1a;
    right: 300px;
    top: 40%;
    opacity: 0.6;
    animation: bounceTop2 9s ease-in-out infinite;
    
}

/* -------- Animation keyframes -------*/
@keyframes zoomInOut {
    0%,100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes bounceTop {
    0%,100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
}
@keyframes bounceTop2 {
    0%,100% {
        transform: translateY(-290px);
    }
    50% {
        transform: translateY(0px);
    }
}
.wrapper{
    z-index: 1;
}
.wrapper h2{
    color: white;
    font-size: 1.8rem;
    margin-left: 240px;
    
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #ffff;
    z-index: 1;
}

.container .card .content p {
    font-size: 0.9em;
    color: #1c11c0;
    font-weight: 300;

}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #ffff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);


}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social ul {
    position: relative;
    display: flex;
    z-index: 2;
}
.social ul li {
    position: relative;
    list-style: none;
    margin: 10px;
    
}
.social ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 2em;
    border: 1px solid  rgba(255, 255, 255, 0.40);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 45px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    transition: 0.6s;
    overflow: hidden;
}

.social ul li a:hover {
    transform: translateY(-20px);
    color: #1c11c0;
}
.social ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
.social ul li a:hover::before {
    transform: skewX(45deg) translateX(-150px);
    
}